.header {
    background-color: $dark-blue;
}

.header__wrapper {
    min-height: 75px;
    @include flex-center-space-between();
}

.header__controls__basket {
    position: relative;
}

.header-navigation {
    width: 232px;
    height: 764px;
    background-color: #ffffff;
    position: absolute;
    top: 37px;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
    padding-top: 37px;
}

.header-navigation__title {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    text-align: left;
}

.header-navigation__title-pink {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    color: $dark-pink;
    text-decoration: none;
    text-align: left;
}

.header-navigation__text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    color: #6F6E6E;
    text-decoration: none;
    text-align: left;
}

.header-navigation__padding-menu {
    padding-left: 20px;
    padding-bottom: 24px;
}

.header-navigation__padding-title {
    padding-left: 34px;
}

.header-navigation__padding {
    text-align: left;
    padding: 7px 0 7px 20.5px;
}

.header__button {
    width: 32px;
    height: 23px;
    background-color: transparent;
    border: none;
    margin: 0 34px 0 0;
    position: relative;
}

.header__button:hover .header-navigation {
    transform: scaleY(1);
}

.header__logo {
    margin: 0 40px 0 0;
    transition: 0.4s;
}

.header__logo:active {
    transform: rotate(-360deg);
    transition-duration: 0.3s;
}

.header__account-link {
    margin: 0 34px 0 0;
}

.header__line {
    height: 148px;
    background: #F8F3F4;
}

.header__line-text {
    font-size: 24px;
    line-height: 29px;
    text-align: left;
    color: $dark-pink;
    padding-top: 55px;
}

.basket  {
    border-radius: 19px;
    align-items: center;
    background-color: $dark-pink;
    color: #fff;
    display: flex;
    font-size: 12px;
    font-weight: bolder;
    height: 18px;
    justify-content: center;
    left: 21px;
    line-height: 20px;
    width: 10px;
    padding: 0 5px;
    position: absolute;
    text-align: center;
    top: -16px;
    font-size: 12px;
    line-height: 32px;
    font-weight: 700;
}

.burger-img {
    cursor: pointer;
}

@media (max-width: $max-tablet-width) {
    .header__button {
        margin: 0 24px 0 0;
    }
    .header__account-link {
        margin: 0 24px 0 0;
    }
}

@media (max-width: $max-mobile-width) {
    .header__button {
        margin: 0;
    }
    .header__account-link {
        margin: 0;
    }
    .header__account-link {
        display: none;
    }
    .header__controls__basket {
        display: none;
    }
}

.header__account-img {
    transition: 0.4s;
}

.header__account-img:active {
    transform: rotate(-360deg);
    transition-duration: 0.3s;
}

.header__basket-img {
    transition: 0.4s;
}

.header__basket-img:active {
    transform: rotate(-360deg);
    transition-duration: 0.3s;
}