.img-product-1,
.btn-product-1,
.img-product-2,
.btn-product-2,
.img-product-3,
.btn-product-3,
.img-product-4,
.btn-product-4,
.img-product-5,
.btn-product-5,
.img-product-6,
.btn-product-6 {
    opacity: 0;
}

.product-1:hover .img-product-1 {
    opacity: 1;
}

.product-1:hover .btn-product-1 {
    opacity: 1;
}

.product-2:hover .img-product-2 {
    opacity: 1;
}

.product-2:hover .btn-product-2 {
    opacity: 1;
}

.product-3:hover .img-product-3 {
    opacity: 1;
}

.product-3:hover .btn-product-3 {
    opacity: 1;
}

.product-4:hover .img-product-4 {
    opacity: 1;
}

.product-4:hover .btn-product-4 {
    opacity: 1;
}

.product-5:hover .img-product-5 {
    opacity: 1;
}

.product-5:hover .btn-product-5 {
    opacity: 1;
}

.product-6:hover .img-product-6 {
    opacity: 1;
}

.product-6:hover .btn-product-6 {
    opacity: 1;
}
