@font-face {
  font-family: 'Lato';
  src: url(../fonts/lato/lato-bold.woff) format("woff"), url(../fonts/lato/lato-bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Lato';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}

.container {
  width: 1138px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

@media (max-width: 1599px) {
  .container {
    width: 735px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 375px;
  }
}

.header {
  background-color: #222222;
}

.header__wrapper {
  min-height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__controls__basket {
  position: relative;
}

.header-navigation {
  width: 232px;
  height: 764px;
  background-color: #ffffff;
  position: absolute;
  top: 37px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding-top: 37px;
}

.header-navigation__title {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
}

.header-navigation__title-pink {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  color: #F16D7F;
  text-decoration: none;
  text-align: left;
}

.header-navigation__text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  color: #6F6E6E;
  text-decoration: none;
  text-align: left;
}

.header-navigation__padding-menu {
  padding-left: 20px;
  padding-bottom: 24px;
}

.header-navigation__padding-title {
  padding-left: 34px;
}

.header-navigation__padding {
  text-align: left;
  padding: 7px 0 7px 20.5px;
}

.header__button {
  width: 32px;
  height: 23px;
  background-color: transparent;
  border: none;
  margin: 0 34px 0 0;
  position: relative;
}

.header__button:hover .header-navigation {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.header__logo {
  margin: 0 40px 0 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header__logo:active {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.header__account-link {
  margin: 0 34px 0 0;
}

.header__line {
  height: 148px;
  background: #F8F3F4;
}

.header__line-text {
  font-size: 24px;
  line-height: 29px;
  text-align: left;
  color: #F16D7F;
  padding-top: 55px;
}

.basket {
  border-radius: 19px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F16D7F;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: bolder;
  height: 18px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 21px;
  line-height: 20px;
  width: 10px;
  padding: 0 5px;
  position: absolute;
  text-align: center;
  top: -16px;
  font-size: 12px;
  line-height: 32px;
  font-weight: 700;
}

.burger-img {
  cursor: pointer;
}

@media (max-width: 1599px) {
  .header__button {
    margin: 0 24px 0 0;
  }
  .header__account-link {
    margin: 0 24px 0 0;
  }
}

@media (max-width: 767px) {
  .header__button {
    margin: 0;
  }
  .header__account-link {
    margin: 0;
  }
  .header__account-link {
    display: none;
  }
  .header__controls__basket {
    display: none;
  }
}

.header__account-img {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header__account-img:active {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.header__basket-img {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header__basket-img:active {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 63px;
}

.brand .brand__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  text-transform: uppercase;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}

.brand .brand__title-wrapper {
  padding: 0 0 0 91px;
  background-color: #F1E4E6;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brand .brand__subtitle {
  font-size: 37px;
  font-weight: 700;
  line-height: 44px;
}

.brand .brand__subtitle-pink {
  color: #F16D7F;
}

.offers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offers__list .offers__item {
  width: 360px;
  min-height: 260px;
  background-color: #474040;
  margin: 0 0 30px;
}

.offers__list .offers__item--women {
  background-image: url(../img/offers-women.jpg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.offers__list .offers__item--women:hover {
  -webkit-transform: scale(1.16);
          transform: scale(1.16);
}

.offers__list .offers__item--man {
  background-image: url(../img/offers-man.jpg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.offers__list .offers__item--man:hover {
  -webkit-transform: scale(1.16);
          transform: scale(1.16);
}

.offers__list .offers__item--kids {
  background-image: url(../img/offers-kids.jpg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.offers__list .offers__item--kids:hover {
  -webkit-transform: scale(1.16);
          transform: scale(1.16);
}

.offers__list .offers__item--accesories {
  background-image: url(../img/offers-accesories.jpg);
  width: 100%;
  margin: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.offers__list .offers__item--accesories:hover {
  -webkit-transform: scale(1.16);
          transform: scale(1.16);
}

.offers__list .offers__item--link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.offers__list .offers__item--text {
  color: white;
  text-transform: uppercase;
}

.offers__list .offers__item--text--pink {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  color: #F16D7F;
}

.recommendations__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recommendations__title {
  text-align: center;
  margin-top: 97px;
  font-size: 30px;
  color: #222222;
}

.recommendations__subtitle {
  text-align: center;
  margin: 6px 0 33px;
  color: #9F9F9F;
  font-size: 14px;
}

.recommendations__items {
  width: 360px;
  height: 581px;
  background-color: #f8f8f8;
  margin: 15px 0 15px;
}

.recommendations__items--img--hover {
  position: absolute;
}

.recommendations__items--img--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.recommendations__items--wrapper {
  margin: 25px 0 0 18px;
}

.recommendations__items--button {
  width: 138px;
  height: 43px;
  border: 1px solid #ffffff;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  cursor: pointer;
}

.recommendations__items--button:hover .recommendations__items--button-text {
  color: #F16D7F;
}

.recommendations__items--button-text {
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  padding-left: 8px;
  color: #fff;
}

.recommendations__items--subtitle {
  font-size: 13px;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.recommendations__items--text {
  font-size: 14px;
  color: #5D5D5D;
  margin-bottom: 18px;
}

.recommendations__items--price {
  font-size: 16px;
  color: #F16D7F;
}

.recommendations__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 211px;
  height: 47px;
  border: 1px solid #FF6A6A;
  margin: 30px auto;
  text-decoration: none;
  color: #F16D7F;
}

.recommendations__button:hover {
  background-color: #F16D7F;
  color: #fff;
}

.img-product-1,
.btn-product-1,
.img-product-2,
.btn-product-2,
.img-product-3,
.btn-product-3,
.img-product-4,
.btn-product-4,
.img-product-5,
.btn-product-5,
.img-product-6,
.btn-product-6 {
  opacity: 0;
}

.product-1:hover .img-product-1 {
  opacity: 1;
}

.product-1:hover .btn-product-1 {
  opacity: 1;
}

.product-2:hover .img-product-2 {
  opacity: 1;
}

.product-2:hover .btn-product-2 {
  opacity: 1;
}

.product-3:hover .img-product-3 {
  opacity: 1;
}

.product-3:hover .btn-product-3 {
  opacity: 1;
}

.product-4:hover .img-product-4 {
  opacity: 1;
}

.product-4:hover .btn-product-4 {
  opacity: 1;
}

.product-5:hover .img-product-5 {
  opacity: 1;
}

.product-5:hover .btn-product-5 {
  opacity: 1;
}

.product-6:hover .img-product-6 {
  opacity: 1;
}

.product-6:hover .btn-product-6 {
  opacity: 1;
}

.product-option {
  min-height: 777px;
  background: #F7F7F7;
  border: 1px solid #EAEAEA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-option__arrow {
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.14);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-color: transparent;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.product-option__arrow::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f053";
  font-size: 24px;
  line-height: 24px;
  color: #000;
}

.product-option__arrow:hover {
  background-color: #f16d7f;
}

.product-option__img {
  position: relative;
  z-index: 0;
  margin-top: -30px;
}

.product-option__arrow-r::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
  font-size: 24px;
  line-height: 24px;
  color: #000;
}

.product-details {
  height: 620px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  margin-top: -85px;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-details__title1 {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  color: #F16D7F;
  padding-top: 64.54px;
}

.product-details__btn1 {
  height: 3.0253806114196777px;
  width: 63px;
  left: 770px;
  top: 1028.786865234375px;
  border-radius: 0px;
  background: #EF5B70;
  border: transparent;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 12.1px 0;
}

.product-details__btn1:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.product-details__title2 {
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  color: #4D4D4D;
}

.product-details__text {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  padding-top: 48.41px;
}

.product-details__price {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
  color: #EF5B70;
  padding-top: 32.27px;
}

.product-customization {
  width: 645px;
  height: 50px;
  margin-top: 65.04px;
  border-top: 1px solid #EAEAEA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 65.05px;
}

.product-customization__text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  position: relative;
  padding: 0 21px;
}

.product-customization__text-c::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f107";
  font-size: 15px;
  color: #6F6E6E;
  position: absolute;
  left: 133px;
  top: 1px;
}

.product-customization__text-s::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f107";
  font-size: 15px;
  color: #6F6E6E;
  position: absolute;
  left: 112px;
  top: 1px;
}

.product-customization__text-q::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f107";
  font-size: 15px;
  color: #6F6E6E;
  position: absolute;
  left: 95px;
  top: 1px;
}

.product-details__btn2 {
  width: 211px;
  height: 47.4px;
  background-color: #ffffff;
  border: 1px solid #ef5b70;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 28px;
  cursor: pointer;
}

.product-details__img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.product-details-cart {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  color: #ef5b70;
  padding-left: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.product-details__btn2:hover .product-details__img {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.product-details__btn2:hover .product-details-cart {
  font-size: 19px;
}

.product-offers {
  margin: 100px 0;
}

.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-list--padding {
  margin: 0 15px;
}

.bread-crumbs_wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bread-crumbs__text {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  color: #636363;
  text-decoration: none;
}

.bread-crumbs__text-n {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  color: #F16D7F;
}

.cart-block {
  width: 1599px;
  height: 998px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart-block--padding {
  padding: 96px 0 0 0;
}

.cart-left {
  width: 652px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-products {
  width: 652px;
  height: 306px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}

.cart-products--margin-bot {
  margin-bottom: 40px;
}

.cart-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.cart-text--padding {
  margin: 22px 0 0 31px;
}

.cart-text--text-padding {
  padding-bottom: 6px;
}

.cart-text__title {
  font-size: 24px;
  font-style: normal;
  line-height: 28.8px;
  padding-bottom: 42px;
}

.cart-text__price-title {
  font-size: 22px;
  font-style: normal;
  line-height: 26.4px;
}

.cart-text__price-cost {
  font-size: 22px;
  font-style: normal;
  line-height: 26.4px;
  color: #F16D7F;
}

.cart-text__color-title {
  font-size: 22px;
  font-style: normal;
  line-height: 26.4px;
  color: #F16D7F;
}

.cart-text__color-value {
  font-size: 22px;
  font-style: normal;
  line-height: 26.4px;
}

.cart-text__size-title {
  font-size: 22px;
  font-style: normal;
  line-height: 26.4px;
}

.cart-text__size-value {
  font-size: 22px;
  font-style: normal;
  line-height: 26.4px;
}

.cart-text__quantity {
  font-size: 22px;
  font-style: normal;
  line-height: 26.4px;
}

.cart-text__quantity-value {
  width: 27px;
  height: 25px;
  display: block;
  margin: 0 auto;
  border: 1px solid #EAEAEA;
  font-size: 22px;
  font-style: normal;
  line-height: 26.4px;
  padding-left: 13px;
  position: absolute;
  top: 194px;
  left: 120px;
}

.cart-text__delete-btn {
  width: 20px;
  height: 20px;
  position: absolute;
  border: transparent;
  background-color: transparent;
  top: 5px;
  left: 320px;
  cursor: pointer;
}

.cart-block_buttons {
  width: 235px;
  height: 50px;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  background-color: #fff;
  border: 1px solid;
  cursor: pointer;
}

.cart-block_buttons-margin {
  margin: 72px 0 0 0;
}

.cart-block_button-padding {
  margin-left: 178px;
}

.cart-right {
  width: 361px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-right--padding {
  margin-left: 128px;
}

.cart-delivery {
  width: 360px;
  height: 306px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-delivery__title {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
}

.cart-delivery__input {
  width: 360px;
  height: 45px;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  border: 1px solid #A4A4A4;
  background-color: #fff;
  text-align: left;
  padding-left: 6.5px;
  margin-top: 20px;
}

.cart-delivery__btn {
  width: 101.41px;
  height: 35px;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: 13px;
  border: 1px solid #A4A4A4;
  background-color: #fff;
  cursor: pointer;
  margin-top: 23.5px;
}

.cart-total {
  width: 277px;
  height: 160px;
  background-color: #f5f3f3;
  padding: 30px 43px 43px 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.cart-total--padding {
  margin-top: 40px;
}

.cart-total__text-sub {
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  padding: 12px 0 12px 0;
}

.cart-total__text-grand {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
  margin-bottom: 21px;
}

.cart-total__grand-cost {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  color: #F16D7F;
}

.cart-total__btn {
  width: 273px;
  height: 50px;
  background: #F16D7F;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
  color: #fff;
  margin-top: 17px;
  cursor: pointer;
}

.advantages {
  width: 100%;
  background-color: #222224;
}

.advantages__list {
  height: 341px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.advantages__items {
  height: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.advantages__items-title {
  font-size: 20px;
  line-height: 24px;
  color: #fbfbfb;
}

.advantages__items-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #fbfbfb;
}

@media (max-width: 1599px) {
  .advantages__list {
    height: 610px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.subscribe {
  width: 100%;
  min-height: 448px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../img/subscribe.jpg);
}

.subscribe__list {
  height: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__items {
  width: 360px;
  height: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__items-comment {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  padding-top: 30px;
}

.subscribe__items-subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
  padding-top: 40px;
}

.subscribe__items-text {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.subscribe__items-form {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__items-input {
  width: 230px;
  height: 44px;
  background-color: #e1e1e1;
  border-radius: 23px 0px 0px 23px;
  border-color: transparent;
  opacity: 0.67;
  font-size: 14px;
  color: #222224;
  padding-left: 28px;
  padding-right: 28px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.subscribe__items-input:hover {
  background-color: #d4d0d0;
  font-size: 17px;
}

.subscribe__items-input:focus {
  border: 3px;
  border-color: #F16D7F;
}

.subscribe__items-button {
  width: 104px;
  height: 49px;
  background-color: #F16D7F;
  border-radius: 0px 23px 23px 0px;
  border-color: transparent;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}

.subscribe__items-button:hover {
  color: #000;
}

@media (max-width: 1599px) {
  .subscribe__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subscribe__items {
    margin: 25px 0 25px 0;
  }
  .subscribe__items-subtitle {
    padding-top: 0px;
  }
}

.footer {
  height: 79px;
  background: #222224;
}

.footer__list {
  height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  text-decoration: none;
  color: #fbfbfb;
}

.footer__text:hover {
  color: #F16D7F;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social-links {
  background-color: white;
  margin-left: 8px;
}

.footer__social-links-button {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #000;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer__social-links-button:hover {
  background-color: #F16D7F;
  color: white;
  -webkit-transform: rotatey(360deg);
          transform: rotatey(360deg);
}

.footer__social-links-button:active {
  background-color: gray;
}

.registration {
  height: 675px;
  padding: 64px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.registration__form {
  width: 400px;
  height: 670px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.registration__form-subtitle {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  text-align: left;
}

.registration__form--radio-text {
  font-size: 11px;
  font-weight: 300;
  line-height: 13px;
  text-align: left;
}

.registration__form_radio:hover .registration__form--radio-text {
  color: #F16D7F;
}

.registration__form-name {
  margin-top: 20px;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  text-align: left;
}

.registration__form-tip {
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  text-align: left;
  padding: 25px 0;
}

.registration__form--button {
  width: 167px;
  height: 50px;
  background-color: #F16D7F;
  border-radius: 0px;
  border-color: transparent;
  margin-top: 25px;
  cursor: pointer;
}

.registration__form--button:hover {
  background-color: #fff;
  border-color: #F16D7F;
}

.registration__form--button:hover .registration__form--button-text {
  color: #F16D7F;
  font-weight: 700;
  padding-left: 30px;
}

.registration__form--button-text {
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  padding-right: 20px;
  color: #fff;
}

.registration__wrapper {
  padding: 33px 0;
}

.registration__form-email {
  margin: 25px 0;
}

.registration__forms {
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  text-align: left;
  padding: 12px 17px;
}

.registration__forms:hover {
  font-weight: 700;
}

.registration__right-block {
  padding-left: 120px;
}

.registration__right-block_text {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
}

.registration__right-block_text_padding {
  padding-top: 8px;
  padding-bottom: 8px;
}

.registration__right-block_text_padding::before {
  content: "";
  background: url("../img/check.png") no-repeat 50%;
  width: 20px;
  height: 16px;
  position: absolute;
  margin-top: 7px;
}

.catalog-filter {
  width: 1138px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.catalog-upline {
  width: 360px;
  height: 531px;
  position: absolute;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: 35px;
  z-index: 5;
  background-color: #fff;
}

.catalog-filter__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}

.catalog-filter__titles:hover .catalog-upline {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.catalog-filter__titles:hover .catalog-filter__text {
  color: #EF5B70;
}

.catalog-filter__titles:hover .catalog-filter__title-img {
  content: url(../img/title-img.png);
}

.catalog-filter__text {
  padding: 0px 0 0 16px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  z-index: 10;
}

.catalog-filter__title-img {
  padding-left: 11px;
}

.catalog-upline__items {
  margin-left: 17px;
}

.catalog-upline__items-padding {
  margin-bottom: 18.5px;
}

.catalog-upline__items-titles {
  width: 317px;
  height: 30px;
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  padding: 11px 0 0 11px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}

.catalog-subparagraphs {
  width: 327px;
  height: 347px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 14.5px 0 0 20px;
}

.catalog-subparagraphs__text {
  padding: 6px 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}

.catalog-size {
  width: 69px;
  height: 103px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  top: 25px;
  left: 40px;
  z-index: 100;
  background-color: #fff;
}

.catalog-size__items {
  margin: 5px 0;
}

.catalog-size__items-btn {
  width: 12px;
  height: 12px;
  border: 1px solid #EBEBEB;
  background-color: #fff;
  margin-left: 10px;
}

.catalog-size__items-text {
  padding: 0 0 0 10px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.catalog-filter__titles-trending {
  padding-left: 300px;
}

.catalog-filter__titles-trending::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f107";
  font-size: 15px;
  color: #6F6E6E;
  position: absolute;
  left: 435px;
  top: 1px;
}

.catalog-filter__titles-size {
  padding-left: 48px;
  position: relative;
}

.catalog-filter__titles-size:hover .catalog-size {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.catalog-filter__titles-size::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f107";
  font-size: 15px;
  color: #6F6E6E;
  position: absolute;
  left: 85px;
  top: 1px;
}

.catalog-filter__titles-price {
  padding-left: 48px;
}

.catalog-filter__titles-price::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f107";
  font-size: 15px;
  color: #6F6E6E;
  position: absolute;
  left: 95px;
  top: 1px;
}

.catalog-list {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "item1 item2 item3" "item4 item5 item6" "item7 item8 item9";
}

.catalog-item1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: item1;
}

.catalog-item2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: item2;
}

.catalog-item3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: item3;
}

.catalog-item4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: item4;
}

.catalog-item5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: item5;
}

.catalog-item6 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: item6;
}

.catalog-item7 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: item7;
}

.catalog-item8 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: item8;
}

.catalog-item9 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: item9;
}

.catalog-switcher__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catalog-switcher {
  width: 283px;
  height: 43px;
  border: 1px solid #EBEBEB;
  margin: 48px 0 93px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog-switcher__btn-l {
  cursor: pointer;
  border: transparent;
  background-color: #fff;
}

.catalog-switcher__links {
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
  color: #EBEBEB;
  margin: 0 0 5px 0;
}

.catalog-switcher__links:hover {
  color: #EF5B70;
}

.catalog-switcher__btn-r {
  cursor: pointer;
  border: transparent;
  background-color: #fff;
}
/*# sourceMappingURL=style.css.map */