@font-face {
  font-family: 'Lato';
  src: url(../fonts/lato/lato-bold.woff) format("woff"), url(../fonts/lato/lato-bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Lato';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}

.container {
  width: 1138px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

@media (max-width: 1599px) {
  .container {
    width: 735px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 375px;
  }
}

.header {
  background-color: #222222;
}

.header__wrapper {
  min-height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__controls__basket {
  position: relative;
}

.header__navigation {
  display: none;
}

.header__button {
  background-color: transparent;
  border: none;
  margin: 0 34px 0 0;
}

.header__logo {
  margin: 0 40px 0 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header__logo:active {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.header__account-link {
  margin: 0 34px 0 0;
}

.header__line {
  height: 148px;
  background: #F8F3F4;
}

.header__line-text {
  font-size: 24px;
  line-height: 29px;
  text-align: left;
  color: #F16D7F;
  padding-top: 55px;
}

.basket {
  border-radius: 19px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F16D7F;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: bolder;
  height: 18px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 21px;
  line-height: 20px;
  width: 10px;
  padding: 0 5px;
  position: absolute;
  text-align: center;
  top: -16px;
  font-size: 12px;
  line-height: 32px;
  font-weight: 700;
}

.burger-img {
  cursor: pointer;
}

@media (max-width: 1599px) {
  .header__button {
    margin: 0 24px 0 0;
  }
  .header__account-link {
    margin: 0 24px 0 0;
  }
}

@media (max-width: 767px) {
  .header__button {
    margin: 0;
  }
  .header__account-link {
    margin: 0;
  }
  .header__account-link {
    display: none;
  }
  .header__controls__basket {
    display: none;
  }
}

.header__account-img {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header__account-img:active {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.header__basket-img {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header__basket-img:active {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 63px;
}

.brand .brand__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  text-transform: uppercase;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}

.brand .brand__title-wrapper {
  padding: 0 0 0 91px;
  background-color: #F1E4E6;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brand .brand__subtitle {
  font-size: 37px;
  font-weight: 700;
  line-height: 44px;
}

.brand .brand__subtitle-pink {
  color: #F16D7F;
}

.offers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offers__list .offers__item {
  width: 360px;
  min-height: 260px;
  background-color: #474040;
  margin: 0 0 30px;
}

.offers__list .offers__item--women {
  background-image: url(../img/offers-women.jpg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.offers__list .offers__item--women:hover {
  -webkit-transform: scale(1.16);
          transform: scale(1.16);
}

.offers__list .offers__item--man {
  background-image: url(../img/offers-man.jpg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.offers__list .offers__item--man:hover {
  -webkit-transform: scale(1.16);
          transform: scale(1.16);
}

.offers__list .offers__item--kids {
  background-image: url(../img/offers-kids.jpg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.offers__list .offers__item--kids:hover {
  -webkit-transform: scale(1.16);
          transform: scale(1.16);
}

.offers__list .offers__item--accesories {
  background-image: url(../img/offers-accesories.jpg);
  width: 100%;
  margin: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.offers__list .offers__item--accesories:hover {
  -webkit-transform: scale(1.16);
          transform: scale(1.16);
}

.offers__list .offers__item--link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.offers__list .offers__item--text {
  color: white;
  text-transform: uppercase;
}

.offers__list .offers__item--text--pink {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  color: #F16D7F;
}

.recommendations__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recommendations__title {
  text-align: center;
  margin-top: 97px;
  font-size: 30px;
  color: #222222;
}

.recommendations__subtitle {
  text-align: center;
  margin: 6px 0 33px;
  color: #9F9F9F;
  font-size: 14px;
}

.recommendations__items {
  width: 360px;
  height: 581px;
  background-color: #f8f8f8;
  margin: 15px 0 15px;
}

.recommendations__items--img--hover {
  position: absolute;
}

.recommendations__items--img--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.recommendations__items--wrapper {
  margin: 25px 0 0 18px;
}

.recommendations__items--button {
  width: 138px;
  height: 43px;
  border: 1px solid #ffffff;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  cursor: pointer;
}

.recommendations__items--button:hover .recommendations__items--button-text {
  color: #F16D7F;
}

.recommendations__items--button-text {
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  padding-left: 8px;
  color: #fff;
}

.recommendations__items--subtitle {
  font-size: 13px;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.recommendations__items--text {
  font-size: 14px;
  color: #5D5D5D;
  margin-bottom: 18px;
}

.recommendations__items--price {
  font-size: 16px;
  color: #F16D7F;
}

.recommendations__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 211px;
  height: 47px;
  border: 1px solid #FF6A6A;
  margin: 30px auto;
  text-decoration: none;
  color: #F16D7F;
}

.recommendations__button:hover {
  background-color: #F16D7F;
  color: #fff;
}

.img-product-1,
.btn-product-1,
.img-product-2,
.btn-product-2,
.img-product-3,
.btn-product-3,
.img-product-4,
.btn-product-4,
.img-product-5,
.btn-product-5,
.img-product-6,
.btn-product-6 {
  opacity: 0;
}

.product-1:hover .img-product-1 {
  opacity: 1;
}

.product-1:hover .btn-product-1 {
  opacity: 1;
}

.product-2:hover .img-product-2 {
  opacity: 1;
}

.product-2:hover .btn-product-2 {
  opacity: 1;
}

.product-3:hover .img-product-3 {
  opacity: 1;
}

.product-3:hover .btn-product-3 {
  opacity: 1;
}

.product-4:hover .img-product-4 {
  opacity: 1;
}

.product-4:hover .btn-product-4 {
  opacity: 1;
}

.product-5:hover .img-product-5 {
  opacity: 1;
}

.product-5:hover .btn-product-5 {
  opacity: 1;
}

.product-6:hover .img-product-6 {
  opacity: 1;
}

.product-6:hover .btn-product-6 {
  opacity: 1;
}

.advantages {
  width: 100%;
  background-color: #222224;
}

.advantages__list {
  height: 341px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.advantages__items {
  height: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.advantages__items-title {
  font-size: 20px;
  line-height: 24px;
  color: #fbfbfb;
}

.advantages__items-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #fbfbfb;
}

@media (max-width: 1599px) {
  .advantages__list {
    height: 610px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.subscribe {
  width: 100%;
  min-height: 448px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../img/subscribe.jpg);
}

.subscribe__list {
  height: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__items {
  width: 360px;
  height: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__items-comment {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  padding-top: 30px;
}

.subscribe__items-subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
  padding-top: 40px;
}

.subscribe__items-text {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.subscribe__items-form {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__items-input {
  width: 230px;
  height: 44px;
  background-color: #e1e1e1;
  border-radius: 23px 0px 0px 23px;
  border-color: transparent;
  opacity: 0.67;
  font-size: 14px;
  color: #222224;
  padding-left: 28px;
  padding-right: 28px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.subscribe__items-input:hover {
  background-color: #d4d0d0;
  font-size: 17px;
}

.subscribe__items-input:focus {
  border: 3px;
  border-color: #F16D7F;
}

.subscribe__items-button {
  width: 104px;
  height: 49px;
  background-color: #F16D7F;
  border-radius: 0px 23px 23px 0px;
  border-color: transparent;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}

.subscribe__items-button:hover {
  color: #000;
}

@media (max-width: 1599px) {
  .subscribe__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subscribe__items {
    margin: 25px 0 25px 0;
  }
  .subscribe__items-subtitle {
    padding-top: 0px;
  }
}

.footer {
  height: 79px;
  background: #222224;
}

.footer__list {
  height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  text-decoration: none;
  color: #fbfbfb;
}

.footer__text:hover {
  color: #F16D7F;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social-links {
  background-color: white;
  margin-left: 8px;
}

.footer__social-links-button {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #000;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer__social-links-button:hover {
  background-color: #F16D7F;
  color: white;
  -webkit-transform: rotatey(360deg);
          transform: rotatey(360deg);
}

.footer__social-links-button:active {
  background-color: gray;
}

.registration {
  height: 675px;
  padding: 64px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.registration__form {
  width: 400px;
  height: 670px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.registration__form-subtitle {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  text-align: left;
}

.registration__form--radio-text {
  font-size: 11px;
  font-weight: 300;
  line-height: 13px;
  text-align: left;
}

.registration__form_radio:hover .registration__form--radio-text {
  color: #F16D7F;
}

.registration__form-name {
  margin-top: 20px;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  text-align: left;
}

.registration__form-tip {
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  text-align: left;
  padding: 25px 0;
}

.registration__form--button {
  width: 167px;
  height: 50px;
  background-color: #F16D7F;
  border-radius: 0px;
  border-color: transparent;
  margin-top: 25px;
  cursor: pointer;
}

.registration__form--button:hover {
  background-color: #fff;
  border-color: #F16D7F;
}

.registration__form--button:hover .registration__form--button-text {
  color: #F16D7F;
  font-weight: 700;
  padding-left: 30px;
}

.registration__form--button-text {
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  padding-right: 20px;
  color: #fff;
}

.registration__wrapper {
  padding: 33px 0;
}

.registration__form-email {
  margin: 25px 0;
}

.registration__forms {
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  text-align: left;
  padding: 12px 17px;
}

.registration__forms:hover {
  font-weight: 700;
}

.registration__right-block {
  padding-left: 120px;
}

.registration__right-block_text {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
}

.registration__right-block_text_padding {
  padding-top: 8px;
  padding-bottom: 8px;
}

.registration__right-block_text_padding::before {
  content: "";
  background: url("../img/check.png") no-repeat 50%;
  width: 20px;
  height: 16px;
  position: absolute;
  margin-top: 7px;
}
/*# sourceMappingURL=style.css.map */